# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_WRITE_TOKEN=your_sanity_api_write_token

# Optional VPS Backend Target (Phase 2 Integration)
NEXT_PUBLIC_FRAPPE_URL=
INTERNAL_SERVICE_TOKEN=
